// COLORS
$color-primary : #03354B;
$color-primary-light : #065875;
$color-primary-dark: #001221;

$color-grey-light-1 : #f7f7f7;

$color-button-white: #fff;
$color-grey-dark: #777;
$color-black: #000;

$color-white: #fff;

$color-grey-dark-3: #333;

// FONT
$default-font-size : 1.6rem;


// GRID
$grid-width:114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 4rem;
