@charset "UTF-8";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  /* @include respond(phone){
    font-size: 30%;
   }*/
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 65.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
}
@media only screen and (max-width: 75em) {
  body {
    padding: 0;
  }
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}
@media only screen and (max-width: 37.5em) {
  body {
    padding: 0;
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInButton {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  /*
        display: block;
      letter-spacing: 3rem;
      font-size: 6rem;
      font-weight: 500;

  */
}
.heading-primary--main {
  display: block;
  letter-spacing: 2.4rem;
  font-size: 5rem;
  font-weight: 700;
  animation: moveInLeft 1s ease-out;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 0;
    font-size: 5rem;
    margin-top: 5rem;
  }
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.34rem;
  animation: moveInRight 1s ease-out;
}
@media only screen and (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 1rem;
    font-size: 2rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.2rem;
  background-image: linear-gradient(to right, #065875, #001221);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.2s;
}
@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 3.6rem;
    padding: 0 2rem;
  }
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media only screen and (max-width: 56.25em) {
  .heading-tertiary {
    font-size: 3rem;
  }
}

.heading-quaternary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media only screen and (max-width: 56.25em) {
  .heading-quaternary {
    font-size: 2.3rem;
  }
}

.paragraph {
  font-size: 1.6rem;
}
@media only screen and (max-width: 56.25em) {
  .paragraph {
    font-size: 2rem;
  }
}
.paragraph:not(last-chid) {
  margin-bottom: 6rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big-2 {
  margin-bottom: 14rem;
}

.u-margin-bottom-big {
  margin-bottom: 12rem;
}

.u-margin-bottom-normal-2 {
  margin-bottom: 8em;
}

.u-margin-bottom-normal {
  margin-bottom: 5em;
}

.u-margin-bottom-small-2 {
  margin-bottom: 3.5rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-top-small {
  margin-top: 4rem;
}

.u-margin-top-normal {
  margin-top: 6.5rem;
}

.u-margin-top-big {
  margin-top: 9rem;
}

.u-margin-left {
  margin-left: 8rem;
}

@media only screen and (max-width: 56.25em) {
  .u-margin-top-responsive {
    margin-top: 8rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .u-margin-top-responsive {
    margin-top: 8rem;
  }
}

.u-font-size {
  font-size: 2rem;
}

.u-border-bottom {
  border-bottom: solid #03354B 1px;
  width: 80%;
  padding-bottom: 2rem;
}
@media only screen and (max-width: 75em) {
  .u-border-bottom {
    width: 90%;
  }
}
@media only screen and (max-width: 56.25em) {
  .u-border-bottom {
    width: 100%;
  }
}
@media only screen and (max-width: 37.5em) {
  .u-border-bottom {
    width: 100%;
  }
}

.section-about {
  background-color: #f7f7f7;
  padding: 15rem 0 10rem 0;
  margin-top: -13vh;
  transform: skewY(-7deg);
}
.section-about > * {
  transform: skewY(7deg);
}

.section-features {
  padding: 15rem 0 25rem 0;
  background-image: linear-gradient(to right bottom, rgba(6, 88, 117, 0.6), rgba(0, 18, 33, 0.6)), url(/img/leather-couch.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  transform: skewY(-7deg);
}
.section-features > * {
  transform: skewY(7deg);
}

.section-method-alt {
  background-color: #f7f7f7;
  margin-top: -10rem;
  padding: 15rem 0 15rem 0;
  transform: skewY(-7deg);
}
.section-method-alt > * {
  transform: skewY(7deg);
}

.method-alt {
  background-color: #f7f7f7;
  text-align: center;
  display: block;
  margin: auto;
  width: 65%;
}
.method-alt__photo {
  font-size: 1.5rem;
}
.method-alt__photo .img {
  margin-top: -8rem;
  border-radius: 100%;
  width: 35%;
}
@media only screen and (max-width: 56.25em) {
  .method-alt__photo .img {
    width: 70%;
  }
}
.method-alt__text {
  color: black;
  overflow-wrap: break-word;
  padding-top: 4rem;
  font-size: 2rem;
}

.section-about-list {
  padding: 15rem 0 15rem 0;
  transform: skewY(-7deg);
  background-image: linear-gradient(to right bottom, rgba(6, 88, 117, 0.2), rgba(0, 18, 33, 0.2));
}
.section-about-list > * {
  transform: skewY(7deg);
}
.section-about-list ul {
  font-size: 1.5rem;
  list-style-type: "→";
  list-style-position: outside;
}
@media only screen and (max-width: 56.25em) {
  .section-about-list ul {
    font-size: 2rem;
  }
}
.section-about-list li {
  padding-left: 2rem;
  margin-top: 1rem;
}
.section-about-list li:last-child {
  margin-bottom: 8rem;
}
.section-about-list li::marker {
  color: #03354B;
  font-size: 2.5rem;
}
.section-about-list .portrait__img {
  display: block;
  width: 50%;
  border-radius: 2%;
  margin: auto;
  margin-left: 6rem;
  transition: all 0.5s;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}
@media only screen and (max-width: 56.25em) {
  .section-about-list .portrait__img {
    margin: auto;
  }
}
.section-about-list .portrait__img:hover {
  box-shadow: 4px 4px #373737, 5px 5px #373737, 6px 6px #373737, 7px 7px #373737, 8px 8px #373737, 9px 9px #373737;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: 0.5s ease;
}
.section-about-list .about-list__content {
  display: block;
  margin-left: 10rem;
}
@media only screen and (max-width: 56.25em) {
  .section-about-list .about-list__content {
    margin: auto;
  }
}

.section-contact {
  padding: 20rem 0 20rem 0;
  background-color: #f7f7f7;
  margin-top: -5rem;
  transform: skewY(-7deg);
}
.section-contact > * {
  transform: skewY(7deg);
}

.feature-box {
  /*background-color: rgba($color-button-white, .8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  transition: transform .3s;*/
  font-size: 1.5rem;
  padding: 3rem;
  text-align: center;
  transition: transform 0.3s;
  background: rgba(247, 247, 247, 0.8);
  box-shadow: 0 0.8rem 3.2rem 0 rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.feature-box__icon {
  font-size: 6rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  display: inline-block;
  background-image: linear-gradient(to right, #065875, #001221);
  -webkit-background-clip: text;
  color: transparent;
}
@media only screen and (max-width: 56.25em) {
  .feature-box__icon {
    font-size: 9rem;
    word-wrap: inherit;
  }
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.btn:link, .btn:visited {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.6);
}
.btn:hover::after {
  transform: scaleX(1.5) scaleY(1.4);
  opacity: 0;
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0px 0.5rem 1rem rgba(0, 0, 0, 0.6);
}
.btn-white {
  background-color: #fff;
  color: #777;
}
.btn-white::after {
  background-color: white;
}
.btn-gray {
  background-color: #fff;
  color: #000;
  border: solid black 1px;
}
.btn-gray:hover {
  background-color: #03354B;
  color: #fff;
  border: solid #03354B 1px;
}
.btn-popup {
  width: max-content !important;
  display: block !important;
  margin: 0 auto !important;
  margin-top: 3rem !important;
}
.btn-popup:hover {
  border: solid #03354B 1px;
}
.btn-popup::after {
  content: none !important;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-animated {
  animation: moveInButton 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  color: #03354B;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #03354B;
  padding: 3px;
  font-size: 1.6rem;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #03354B;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-textactive {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.composition {
  position: relative;
}
.composition__photo {
  display: block;
  border-radius: 8%;
  width: 80%;
  margin-left: 4.5rem;
  outline-offset: 2rem;
  transition: all 0.5s;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}
.composition__photo:hover {
  box-shadow: 4px 4px #373737, 5px 5px #373737, 6px 6px #373737, 7px 7px #373737, 8px 8px #373737, 9px 9px #373737;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: 0.5s ease;
}
.card {
  position: relative;
  perspective: 150rem;
  -moz-perspective: 150rem;
  height: 50rem;
}
.card__side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  background-color: orangered;
  color: white;
  font-size: 5rem;
  height: 50rem;
  transition: all 0.8s ease;
}
.card__side--front {
  background-color: orangered;
}
.card__side--back {
  transform: rotateY(180deg);
  background-color: green;
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
  background-color: green;
}

.contact-form__group:not(:last-child) {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .contact-form {
    margin: auto;
  }
}
.contact-form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: white;
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  transition: all 0.3s;
}
@media only screen and (max-width: 56.25em) {
  .contact-form__input {
    width: 100%;
    font-size: 2rem;
  }
}
.contact-form__input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #03354B;
}
.contact-form__input:focus:invalid {
  border-bottom: 3px solid #03354B;
}
.contact-form__input::-webkit-input-placeholder {
  color: #000;
  opacity: 0.6;
}
.contact-form__label {
  font-size: 1.6rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.contact-form__input:placeholder-shown + .contact-form__label {
  opacity: 1;
  color: black;
  visibility: hidden;
  transform: translateY(-4rem);
}
.contact-form__button {
  width: 100%;
  background-color: #03354B;
  color: white;
  padding: 2rem;
  margin-top: 2rem;
  font-size: 1.6rem;
  font-family: inherit;
  border: none;
}
@media only screen and (max-width: 56.25em) {
  .contact-form__button {
    font-size: 2rem;
  }
}
.contact-form__button:hover {
  opacity: 0.8;
}

.contact-text {
  padding-left: 10rem;
}
@media only screen and (max-width: 75em) {
  .contact-text {
    padding-left: 0;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 4rem;
  }
}
.contact-text__paragraph {
  font-size: 1.6rem;
}
/*.contact{
}

.contact-form{
 // background-color: red;
  margin-left: 5rem;
  font-size: $default-font-size;
  line-height: 2;


  &__name, &__mail-adress,
  &__phone, &__message, &__button {
    font-size: $default-font-size;
  }
}



.contact-text{
  padding-left: 10rem;
 // border: dotted 1px $color-primary;

&__paragraph {
  //margin-right: 5rem;
  font-size: $default-font-size;
  //margin-right: 4rem;
  // padding-right: rem;

  &:not(last-chid) {
   // margin-bottom: 6rem;
  }
}

  &__hr{
    width: 60%;
  }
}

*/
.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 3000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  background: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: table;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.5s 0.2s;
}
@media only screen and (max-width: 75em) {
  .popup__content {
    width: 90%;
    display: block;
    position: relative;
  }
}
.popup__left {
  width: 33.3333333%;
  display: table-cell;
}
@media only screen and (max-width: 75em) {
  .popup__left {
    display: none;
  }
}
.popup__list-text li {
  font-size: 1.6rem;
}
.popup__right {
  width: 66.6666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}
@media only screen and (max-width: 75em) {
  .popup__right {
    width: 100%;
    display: inline-block;
    position: relative;
    text-align: center;
  }
}
.popup__img {
  display: block;
  margin: 0 auto;
}
@media only screen and (max-width: 75em) {
  .popup__img {
    display: none;
  }
}
.popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  -moz-column-count: 1;
  column-count: 1;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: left;
}
@media only screen and (max-width: 56.25em) {
  .popup__text {
    font-size: 1.6rem;
  }
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup__close:link, .popup__close:visited {
  color: #777;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
}
.popup__close:hover {
  color: #03354B;
}
@media only screen and (max-width: 37.5em) {
  .popup__left {
    display: none;
  }
  .popup__img {
    display: none;
  }
}

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(6, 88, 117, 0.8), rgba(0, 18, 33, 0.8)), url(/img/header-big-foto.jpg);
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 56.25em) {
  .header {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header__impressum {
  display: block;
  width: 100%;
  height: 10rem;
  background-color: #333;
}

.row {
  max-width: 114rem;
  color: #000;
  margin: 0 auto;
}
.row:not(:last-child) {
  margin-bottom: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 6rem;
  }
  .row p {
    font-size: 2rem;
  }
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 4rem;
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 4rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 4rem) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 4rem) /3 ) + 4rem);
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 4rem) / 4);
}
.row .col-2-of-4 {
  width: calc(2 * (100% - 4rem) / 4);
}
.row .col-3-of-4 {
  width: calc(3 * (100% - 3 * 4rem) / 4 + (2* 4rem));
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#065875, #001221);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: -25%;
  z-index: 1500;
  opacity: 0;
  visibility: hidden;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 225%;
  transition: all 0.4s;
}
.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #03354B;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
  visibility: visible;
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: #f7f7f7;
  margin-top: -12vh;
  position: relative;
}
@media only screen and (max-width: 56.25em) {
  .footer {
    padding: 8rem 0;
  }
}
.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}
.footer__logo {
  width: 15rem;
  height: auto;
}
.footer__navigation {
  border-top: 1px solid #777;
  padding-top: 2rem;
  display: inline-block;
}
@media only screen and (max-width: 56.25em) {
  .footer__navigation {
    width: 100%;
    text-align: center;
    border-top: none;
  }
}
.footer__list {
  list-style: none;
}
.footer__item {
  display: inline-block;
}
.footer__item:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__link:link, .footer__link:visited {
  color: #f7f7f7;
  background-color: #333;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.2s;
}
.footer__copyright {
  border-top: 1px solid #777;
  padding-top: 2rem;
  width: 40%;
  float: right;
  color: white;
}
@media only screen and (max-width: 56.25em) {
  .footer__copyright {
    width: 100%;
    float: none;
    text-align: center;
    margin-top: -3vh;
  }
}

/*# sourceMappingURL=main.css.map */
