.contact{
}

.contact-form{
 // background-color: red;
  margin-left: 5rem;
  font-size: $default-font-size;
  line-height: 2;


  &__name, &__mail-adress,
  &__phone, &__message, &__button {
    font-size: $default-font-size;
  }
}



.contact-text{
  padding-left: 10rem;
 // border: dotted 1px $color-primary;

&__paragraph {
  //margin-right: 5rem;
  font-size: $default-font-size;
  //margin-right: 4rem;
  // padding-right: rem;

  &:not(last-chid) {
   // margin-bottom: 6rem;
  }
}

  &__hr{
    width: 60%;
  }
}
