.u-center-text{text-align:center ;}

.u-margin-bottom-big{margin-bottom: 12rem;}


.u-margin-bottom-normal-2{margin-bottom: 8em;}

.u-margin-bottom-normal{margin-bottom: 5em;}

.u-margin-bottom-small-2{margin-bottom: 3.5rem;}

.u-margin-bottom-small{margin-bottom: 1.5rem;}

.u-margin-top-small{margin-top: 4rem;}

.u-margin-top-normal{margin-top: 6.5rem;}

.u-margin-top-big{margin-top: 9rem;}

.u-margin-left{margin-left: 8rem;}

