.section-about{
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 15rem 0;
  background-image: linear-gradient(
                  to right bottom,
                  rgba($color-primary-light, 0.2),
                  rgba($color-primary-dark, 0.2)),
  url(/img/feature-box-section-2.jpg);

  //clip-path: polygon(0 20%, 100% 0 , 100% 80%, 0 100%);
  margin-top: -20vh;
  background-size: cover;
  background-position: top;
  position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;



}